.container{
  border: 1px solid #3f3c3c;
  border-radius: 6px;
  background: #ffffff;
  padding: 40px;
  width: 700px;
;
  &__Days{
    display: flex;
    width: 600px;
    height: 100px;
    align-items:center;
    gap:20px;
  }
  &__Text{
    width: 50px;
  }
  &__Slider{
    margin-top: 15px;
  }
}
